{% extends 'base.html' %}

{% block title %}
Add Event
{% endblock %}

{% block content %}
{% if user.is_anonymous %}
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Add An Event</h1>
            {% if error %}
            <p class="text-danger text-center">Duplicate event found.</p>
            {% endif %}
        </div>

        <form action="{% url 'todolist:add_event' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="event_name">Event Name: </label>
                <input type="text" class="form-control" id="event_name" name="event_name" value="{{ event_name }}"
                    maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="description">Description: </label>
                <!-- <input type="text" class="form-control" id="description" name="description" value="{{ description }}" maxlength="50" required> -->
                <textarea class="form-control" id="description" rows="3" name="description"
                    required>{{description}}</textarea>
            </div>

            <div class="mb-3">
                <label for="event_date">Event Date: </label>
                <input type="date" class="form-control" id="event_date" name="event_date" required>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Add Event">
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('event_date').min = new Date().toISOString().split("T")[0]
</script>
{% endif %}
{% endblock %}