{% extends 'base.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
{% if user.is_anonymous %}
    <h1 class="text-center my-3">You are not authorized to access this page.</h1>
    <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Change Password</h1>
            {% if incorrect_password %}
                <p class="text-danger text-center">Old Password is incorrect.</p>
            {% elif password_mismatch %}
                <p class="text-danger text-center">New Password and Confirm Password are not the same.</p>
            {% elif is_successful %}
                <p class="text-success text-center">Password is changed successfully.</p>
            {% endif %}
        </div>

        <form action="{% url 'todolist:change_password' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="old_password">Old Password: </label>
                <input type="password" class="form-control" id="old_password" name="old_password" value="{{ old_password }}" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="new_password">New Password: </label>
                <input type="password" class="form-control" id="new_password" name="new_password" value="{{ new_password }}" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{ confirm_password }}" maxlength="50" required>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Update Password">
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}