{% extends 'base.html' %}

{% block title %}
    Event
{% endblock %}

{% block content %}
{% if user.is_anonymous %}  
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
{% else %}
<div class="text-center my-3">
    <h1>{{event_name}}</h1>
    <h3>Description</h3>
    <p>{{description}}</p>
    <h3>Event Date</h3>
    <p>{{event_date}}</p>
    <h3>Status</h3>
    <p>{{status}}</p>

    <button class="btn btn-warning mx-1 text-decoration-none">
        <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to Events</a>
    </button>
</div>
{% endif %}
{% endblock %}