{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if not user.is_anonymous %}
            <h1 class="text-center my-3">Welcome {{user.last_name}} {{user.first_name}}</h1>
            <div class="container">
                <div class="row">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% if todoitem_list|length != 0 %}
                            {% for todoitem in todoitem_list %}
                                <li class="list-group-item">
                                    <a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">{{ todoitem.task_name }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-danger">No task created.</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <h3 class="text-center mb-3">My Events</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% if event_list|length != 0 %}                            
                            {% for event in event_list %}
                                <li class="list-group-item">
                                    <a href="{% url 'todolist:viewevent' event.id %}" class="text-decoration-none">{{ event.event_name }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-danger">No events created.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
        {% elif user.is_anonymous %}
            <h1 class="text-center my-3">You are not authorized to access this page.</h1>
            <p class="text-center">Kindly login <a href="login/">here</a></p>
        {%endif %}
{% endblock %}