{% extends 'base.html' %}

{% block title %}
    Todo Item
{% endblock %}

{% block content %}
{% if user.is_anonymous %}  
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
{% else %}
<div class="text-center my-3">
    <h1>{{task_name}}</h1>
    <h3>Description</h3>
    <p>{{description}}</p>
    <h3>Status</h3>
    <p>{{status}}</p>

    <button class="btn btn-primary mx-1 text-decoration-none">
        <a href="{% url 'todolist:update_task' id %}" class="text-light text-decoration-none">Edit Task</a>
    </button>

    <button class="btn btn-danger mx-1 text-decoration-none">
        <a href="{% url 'todolist:delete_task' id %}" class="text-light text-decoration-none">Delete Task</a>
    </button>

    <button class="btn btn-warning mx-1 text-decoration-none">
        <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to Tasks</a>
    </button>
</div>
{% endif %}
{% endblock %}