{% extends 'base.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
{% if user.is_anonymous %}
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Update Profile</h1>
            {% if error %}
                <p class="text-danger text-center">Profile is not updated.</p>
            {% elif is_successful %}
                <p class="text-success text-center">Profile is updated successfully.</p>
            {% endif %}
        </div>

        <form action="{% url 'todolist:update_profile' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="first_name">First Name: </label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}"
                    maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="last_name">Last Name: </label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}" maxlength="50" required>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Update Profile">
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}